.centered {
    text-align: center;
    font-size: 3rem;
}

.subtitle {
    font-size: 1.5rem;
    text-align: center;
}


ul {
    list-style-type: none;
    text-decoration: none;

}


.monospaced {
    background-color: gray;
}

h2 {
    text-decoration: underline;
    font-family: monospace;
    font-size: 1em;
}